/* Define colors */
:root {
    --primary: #18A0FB;
    --gray: #E0E0E0;
} 

a {
    color: var(--primary);
    text-decoration: none;
    text-transform: capitalize;
}

#appbar {
    background: #fff;
    color:var(--primary); 
    padding: 0 1rem;
    margin: 0;
    position: static;
    box-shadow: none;    
    border: none;
}

#appbar a {
    text-transform: capitalize;
}

#appbar a:hover::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    bottom: 0.01rem; 
    width: 80%;
    height: 0.1rem;
    background-color: red;
}

#home-icon {
    font-size: 3rem;
    margin-left: -2rem;
}

#drawer-menu-icon {
    margin-right: -1.5rem;
    background-color: var(--primary);
}

#logo { /* STDB LOGO */
    font-size: large !important;
    padding: 0;
    margin: 0 0 0 -2.5rem !important;
}

#login-link {
    margin-left: auto;
}

#register-link {
    margin-left: 10px;
    margin-right: -1.5rem !important;
    background-color: #18A0FB ;
    color: white;
}

#login-link:hover, #register-link:hover {
    box-shadow: 1px 1px .5px 0.2px var(--primary);
}

#appbar a.get-hosted {
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

#appbar a.get-hosted:hover::after {
    bottom: 0; 
    width: 0;
    height: 0;
}

#appbar div button {
    text-transform: capitalize; 
    letter-spacing: 0.6px;
}
    
.toolbar {
    box-shadow: none;
    border-bottom: 1px solid var(--gray);
    padding: 0;
    margin: 0;
    border: none;
}

.toolbar a {
    color: var(--primary);
}

#header-navbar {
    margin-right: -4rem !important;
}

.routes-component {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-icon {
    margin-left: 'auto';
    color:'white'; 
    background: var(--primary);
    -webkit-tap-highlight-color: 'visible';
}

#sidebar {
    background: var(--gray);
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sidebar-listitem  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-text {
    margin: 1rem;
}

.list-item-text:hover {
    color: white;
    background: var(--primary);
}

.sidebar-container .sidebar {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}

.sidebar-container .top_section {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    align-items: center;
}

.link:hover {
    background: var(--primary);
    color: #000;
    transition: all 0.5s;
}

.icon, .link-text, .bars-menu{
    font-size: 20px;
}

.link-text {
    color: #fff;
}

/* Media queries */
@media screen and (max-width: 1306px) {
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        padding: 2px !important;
    }
    #appbar div nav a {
        width: 18%;
        min-width: 70px;
    } 
}

@media screen and (max-width: 1178px) {
    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        padding: 0px !important;
        font-size: .1rem;
    }
    #appbar div nav a {
        width: 5%;
    } 
}

@media screen and (max-width: 1100px) {
    #register-link {
        margin-left: 5px;
    }
    #login-link, #register-link {
        font-weight: 200;
    }
}
    
@media screen and (max-width: 600px) {
    .button {
        font-size: 14px;
    }
}
    
@media screen and (max-width: 400px) {
    .button {
        font-size: 12px;
    }
}