h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    color: #161414;
    text-align: center;
}

h5 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    color: #161414;
    max-width: 252px;
}

#housing-list-container {
    display: block;
    margin: auto 0;
}

#housing-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    padding: 1px;
    gap: 2px;
}

.housing-item {
    width: 23%;
}

/* @media screen and (max-width: 600px) {
    .housing-item {
        width: fit-content;
        margin: 5vh 0;
    }
}

@media screen and (max-width: 520px) {
    #housing-list {
        padding: 0.5px;
        gap: 0.5px;
    }
} */